{% extends "../layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr>
    <p>Welcome to {{ title }}</p>
    <hr>
    {% if currentUser %}
    <a href="{{ helper.route('main.create') }}">Create</a><br>
    <a href="{{ helper.route('auth.getLogout') }}">Logout</a>
    {% else %}
    <a href="{{ helper.route('auth.getRegister') }}">Register</a><br>
    <a href="{{ helper.route('auth.getLogin') }}">Login</a> username: delia84 - password: 123456
    {% endif %}
    <hr>
    <p>Total records: {{ total }}</p>
    <p>User:
      <pre>{{ helper.stringify(user) }}</pre>
    </p>
    <p>Flash: {{ info }}</p>
{% endblock %}