{% extends "../layout.html" %}

{% block content %}
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <h1 class="form-header">Register</h1>
        <form novalidate="novalidate">
            {% if message.length %}
            <ul class="form-error margin-bottom-15 break-word">
                <li class="margin-left-15">{{ message }}</li>
            </ul>
            {% endif %}
            <div class="form-group">
                <input type="text" placeholder="Full name" name="name" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email" name="email" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Retype password" name="password_confirmation" class="form-control"/>
            </div>
            <button type="button" class="btn btn-default">Back</button>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
{% endblock %}